<a href="/users/<%= user.id %>" class="user">
<div class = "user_container">
<img src ="<%= user.photo %>" alt="user" />
<div class = "user_content">
<h2><%= user.name %></h2>
<h4>Number of posts: <%= user.posts.count %></h4>
</div>
</div>
</a>